/*
    width
    height
    max-width
    min-width
    max-heihgt
    min-height
    opacity: 투명도

    margin
    margin 중복 현상
    1) 형제 요소들의 margin-top과 margin-bottom이 만났을 때
    2) 부모 요소의 margin-top과 자식 요소의 margin-top이 만났을 때
    3) 부모 요소의 margin-bottom과 자식 요소의 margin-bottom이 만났을 때

    padding
    padding을 사용하면 크기가 커짐!
    따라서 계산을 따로 해주거나!
    자동으로 맞춰주는 box-sizing: boarder-box 를 이용하면 됨

    border: 두께 종류 색상
        border-width: 선 두께
        boarder-style
        boarder-color

    display
        값 종류
            block
            inline
            inline-block: width와 height 값을 가질 수 있고, margin과 padding의 위 아래 값을 가질 수 잇음
            none
            ...

    overflow: 부모 요소에 적용해야함
        요소의 크기 이상으로 내용이 넘쳤을 때, 내용의 보여짐을 제어
        값 종류
            visible: 넘친 부분을 자르지 않고 그대로 보여줌
            hidden: 넘친 부분을 잘라내고, 보이지 않도록 함
            scroll: 넘친 부분을 잘라내고, 스크롤바를 이용하여 보여지도록 함(강제: 무조건 스크롤바)
            auto: 넘친 경우가 있을 경우에만 잘라내고, 스크롤바를 이용하여 보여지도록 함(자동)
*/
